@import "tailwindcss";

@layer base {
  :root {
    --sidebar-w: 260px;
    --sidebar-collapsed: 68px;
    --navbar-h: 64px;
  }

  html {
    font-family: 'DM Sans', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 3px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #1e293b;
  }
}
